---
---
$base-size: 16px;

html {
    font-size: $base-size;
}

@import 'globals';
@import 'headfoot';
@import 'showcase';
@import 'all';

body {
    font-family: "Raleway";
}

h1, h2, h3 {
    font-family: "Roboto Slab";
    // font-weight: bold;
}

h4, h5, h6 {
    font-family: "Raleway";
    color: $icon-color;
    font-style: italic;
}

.content-col {
    margin-left: $row-margin-side;
    margin-right: $row-margin-side;
}

.section-row {
    margin-top: $section-margins / 2;
    margin-bottom: $section-margins;
}

.subsection-row {
    margin-top: $row-margin-vert;
}

// Less than desktop monitor
@media (max-width: 1200px) {
    .content-col {
        margin-left: $row-margin-side-tablet;
        margin-right: $row-margin-side-tablet;
    }
}

// Vertical phones or less
@media (max-width: 576px) {
    .content-col {
        margin-left: $row-margin-side-mobile;
        margin-right: $row-margin-side-mobile;
    }
}
