// Dimensions:
$header-height: 22rem;

// Margins:
$row-margin-side: 24%;
$row-margin-side-tablet: 7.5%;
$row-margin-side-mobile: 2%;
$section-margins: 4rem;
$row-margin-vert: 1.5rem;

// Colors:
$header-color: #161616;
$icon-color: #4d4d4d;
$icon-hover-color: #e6e6e6;
$tint-color: rgba(22, 22, 22, 0.25);
