@import 'globals';

$navbar-padding: 1.5rem;
$navbar-text-color: white;
$contact-font-size: 0.75rem;
$contact-img-spacing: 0.25rem;
$footer-margin-bottom: 1.5rem;
$footer-margin-top: 1.5rem;

.navbar-row {
    background-color: $header-color;
    color: $navbar-text-color;
    padding-top: $navbar-padding;
    padding-bottom: $navbar-padding;
}

.nav-section-row a {
    font-style: italic;
    text-decoration: none;
    color: $navbar-text-color;
}

.nav-section-row a:hover {
    text-decoration: underline;
    color: $icon-hover-color;
    text-shadow: 1px 1px $icon-color;
}

.contact-col {
    text-align: right;
    font-size: $contact-font-size;
}

.contact-table {
    display: table;
}

.contact-cell {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.contact-icon {
    margin-left: $contact-img-spacing;
}

.header-row {
    height: $header-height;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-tint {
    background-color: $tint-color;
}

.header-col {
    display: table;
}

.header-title-div {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.header-title {
    color: $navbar-text-color;
    font-size: 3.0rem;
}

.footer-row {
    background-color: $header-color;
    color: $navbar-text-color;
    text-align: center;
}

.pagetop_container {
    margin: auto;
    margin-top: $footer-margin-top;
    margin-bottom: $footer-margin-bottom;
    text-align: center;
    display: inline-block
}

.pagetop_icon {
    fill: $navbar-text-color;
    stroke: $navbar-text-color;
}

.pagetop_link_container {
    display: inline-block;
}

.pagetop_icon_pointer {
    fill: $icon-color;
    stroke: $icon-color;
}

.pagetop_text {
    color: $navbar-text-color;
}

.svg_container {
    display: inline-block;
}

.pagetop_link_container:hover > .svg_container > svg > .pagetop_icon {
    fill: $icon-hover-color;
    stroke: $icon-hover-color;
}

.pagetop_link_container:hover > .svg_container > svg > .pagetop_icon_pointer {
    fill: $header-color;
    stroke: $header-color;
}

.pagetop_link_container:hover > .pagetop_text {
    color: $icon-hover-color;
    text-shadow: 1px 1px $icon-color;
    text-decoration: underline;
}

.pagetop_text {
    display: block;
}

// Less than desktop monitor
@media (max-width: 1200px) {
    .header-row {
        background-position: left bottom;
    }
}
