@import 'globals';

$thumbnail-width: 14rem;
$thumbnail-divide: 1rem;

.thumbnail-div {
    width: $thumbnail-width;
}

.thumbnail-img {
    width: 100%;
    height: auto;
}

#table_filter {
    text-align: left;
    margin: auto;
}

div.dataTables_wrapper > div.dataTables_paginate > ul.pagination {
    margin-top: 1rem;
    justify-content: flex-start;
}

// Vertical Phones
@media (max-width: 576px) {
    .thumbnail-div {
        margin: auto;
        margin-bottom: $thumbnail-divide;
    }
}
