---
layout: base
permalink: about
title: About This Website
img: /assets/img/about_bg.jpg
---
<div class="row section-row">
    <div class="col content-col">
        {% for section in site.data.about %}
        <div class="row subsection-row">
            <div class="col-md">
                {% if section.title != nil %}
                    <h2 class="section-title">{{ section.title }}</h2>
                {% endif %}
                <p class="section-body">{{ section.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
